# Ignorar o arquivo DIAGRAMA_ER_PROJETO.drawio
DIAGRAMA_ER_PROJETO.drawio

# Ignorar o arquivo Sistema de Gerenciamento de Armazéns Logísticos.md
Sistema de Gerenciamento de Armazéns Logísticos.md

# Ignorar o arquivo .$DIAGRAMA_ER_PROJETO.drawio.bkp
.$DIAGRAMA_ER_PROJETO.drawio.bkp
